@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bowale Tech Ltd</h1>
    <p>Contact us today <a href="https://docs.microsoft.com/aspnet/core">For your DevOps jobs.</a>.</p>
    <p>We have highly skilled professionals in the following: </p>
    <div>
        <ul>
        <li>Senior DevOps Engineer - Engr. Bowale </li>
            <li>Software Engineer - Chris</li>
            <li>UI/UX Developer - Mike</li>
            <li>Database Administrator - Balogun</li>
        </ul>
    </div>
</div>
